@model PubProjectApi.Models.ModelsView.Advert.AdvertsListView
@{
    ViewData["Title"] = "_LeftAdvertSearchMenu";
}

@using (Html.BeginForm("Search", "Advert", FormMethod.Get, new { @class = "form-signin login-form", role = "form" }))
{
<form>
    <h2 class="form-signin-heading">Wyszukaj Oefrty</h2>
    @Html.TextBoxFor(m => m.SearchAdvert.City, new { @class = "form-control not-round input", placeholder = "Miasto", tabindex = 1 })
    @Html.TextBoxFor(m => m.SearchAdvert.Date, new { @class = "datepicker form-control not-round input", type = "date" })
    <button class="btn btn-lg btn-primary btn-block not-round" type="submit">Szukaj</button>
</form>
}