@model PubProjectApi.Models.Advertisement
@{
    ViewData["Title"] = "AddAdvert";
}



<div class="content register-page">
    <img class="page-background" id="page-background" src="~/images/Other/4.jpg" />

    @using (Html.BeginForm("AddAdvert", "Advert", FormMethod.Post, new { @class = "form-signin register-form col-lg-5", role = "form" }))
    {
    <form>
        <h2 class="form-signin-heading">Dodaj Nową Ofertę</h2>
        <div class="col-xs-10 col-xs-offset-1">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control not-round input", placeholder = "Tytuł", tabindex = 2 })
        </div>
        <div class="col-xs-10 col-xs-offset-1">
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control not-round input", placeholder = "Opis", rows = 5, })
        </div>
        <div class="col-xs-10 col-xs-offset-1">
           @* @Html.TextBoxFor(m => m.File, new { @class = "form-control not-round input", type = "file" })*@
        </div>
        <div class="col-xs-10 col-xs-offset-1">
            <button class="btn btn-lg btn-primary btn-block not-round" type="submit">utwórz ofertę</button>
        </div>
    </form>

    }

</div>



