@model PubProjectApi.Models.ModelsView.Advert.AddAdvert
@using Microsoft.AspNetCore.Identity
@using PubProjectApi.Models
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "AddAdvert";
}


<div class="content register-page">
    <img class="page-background" id="page-background" src="~/images/Other/4.jpg" />

    <form class="form-signin register-form col-lg-5" method="post" action="/Advert/AddAdvert" enctype="multipart/form-data">
        <div class="col-xs-10 col-xs-offset-1">
            <input type="text" class="form-control not-round input" placeholder="Tytuł" name="Title" />
        </div>
        <div class="col-xs-10 col-xs-offset-1">
            <textarea rows="4" cols="50" class="form-control not-round input" name="Discription" placeholder="Opis"></textarea>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
            <input type="text" class="form-control not-round input datepicker" name="DateEvent"  onfocus="(this.type='date')" placeholder=" Wybierz datę oferty" />
            @*<select class="datepicker form-control not-round input" name="Tag" onchange="this.form.submit()">
                <option value="" disabled selected>Wybierz datę oferty</option>
                </select>*@
        </div>
        <div class="col-xs-10 col-xs-offset-1">
            <select class="datepicker form-control not-round input" name="Tag" onchange="this.form.submit()">
                <option value="" disabled selected>Wybierz rodzaj oferty</option>
                <option value="Promocja">Promocja</option>
                <option value="Trnasmisja">Trnasmisja</option>
                <option value="Koncert">Koncert</option>
                <option value="Inne">Inne</option>
            </select>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
            Dodaj Zjęcie do oferty <input type="file" name="File"/>
        </div>

        <div class="col-xs-10 col-xs-offset-1">
            <button class="btn btn-lg btn-primary btn-block not-round" type="submit" style="margin-top:10px">Utwórz Ofertę</button>
        </div>

    </form>
</div>