@model List<PubProjectApi.Models.ModelsView.AdvertisementListView>
@{
    ViewData["Title"] = "Index";
}

<div class="board-menu">
    <div class="container">
        <div class="row row-flex">

            @foreach(var adv in Model)
            {
                <div class="card form-group col">
                    <div class="form-group row card-header">
                        <div class="form-group col-sm-8">
                            <div class="row-sm-8 venue-name">@adv.GastronomicVenue.GastronomicVenueName</div>
                            <div class="row-sm-8 venue-location">@adv.GastronomicVenue.City</div>
                        </div>
                        <div class="col-sm-4 advertise-rating" align="right">
                            <img src="~/images/flame.png" width="25" /> 481
                        </div>
                    </div>
                    <div class="col-lg-12 img-box">
                        <img class="img-responsive" src="~/images/oo.png" alt="Card image cap">
                        <div class="img-responsive-overlay">
                            <div class="img-responsive-overlay-text">@adv.Advertisement.Description</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title col-lg-12 advertise-title" align="center">@adv.Advertisement.Title</h5>
                        @*<p class="card-text col-lg-12">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                        @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                    </div>
                </div>
            }

        </div>
    </div>
</div>
